.dropdown .dropdown-menu {
  position: absolute;
  will-change: transform;
  overflow-y: scroll;
  max-height: 79vh;
  overflow-x: hidden;
  top: 0px;
  left: 0px;
  transform: translate3d(0px, -485px, 0px);
}

.bootstrap-btn .btn:focus {
  outline: none;
  outline-color: transparent;
}
.updateItemBtn{
  background: #96dc37;
  margin-top: 17px;
  margin-bottom: 8px;
}
.updateItemBtn:hover{
  background: #8dc63f;
}
.updateItemField {
  margin-top: 25px;
}
.updateItemField button{
  padding: 0;
}
.updateItemField button:hover, .updateItemField button:focus{
  outline: none !important;
  box-shadow: none !important;
  /* border: none !important; */
}